<ng-container *ngIf="userModel">
<div class="col s9">
  <div class="card">
    <ng-container *ngIf="userService.isLoading$|async; else isLoaded">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>
      </div>
    </ng-container>
    <ng-template #isLoaded>
    <div class="card-content" *ngFor="let item of userModel">
      <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
        <div class="row">
          <div class="input-field col s10">
            <input id="email" type="email" class="validate" [(ngModel)]="item.email" name="email">
            <label class="active" for="email">Username</label>
          </div>
          <div class="input-field col s6">
            <input id="firstName" placeholder="First Name" type="text" class="validate" [(ngModel)]="item.firstName" name="firstName">
            <label class="active" for="firstName">First Name:</label>
          </div>
          <div class="input-field col s6">
            <input id="lastName" placeholder="Last Name" type="text" class="validate" [(ngModel)]="item.lastName" name="lastName">
            <label class="active" for="lastName">Last Name:</label>
          </div>
          <div class="input-field col s6">
            <input id="street" placeholder="Street" type="text" class="validate" [(ngModel)]="item.street" name="street">
            <label class="active" for="street">Street:</label>
          </div>
          <div class="input-field col s6">
            <input id="number" placeholder="Number" type="text" class="validate" [(ngModel)]="item.number" name="number">
            <label class="active" for="number">Number:</label>
          </div>
          <div class="input-field col s6">
            <input id="codePostal" placeholder="Code Postal" type="text" class="validate" [(ngModel)]="item.postalCode" name="postalCode">
            <label class="active" for="codePostal">Code Postal:</label>
          </div>
          <div class="input-field col s6">
            <input id="phone" placeholder="Phone Number" type="tel" class="validate" [(ngModel)]="item.phone" name="phone">
            <label class="active" for="phone">Phone number:</label>
          </div>
          <div class="input-field col s6">
            <input id="country" placeholder="Country" type="text" class="validate" [(ngModel)]="item.country" name="country">
            <label class="active" for="country">Country:</label>
          </div>
          <div class="input-field col s6">
            <input id="city" placeholder="City" type="text" class="validate" [(ngModel)]="item.city" name="city">
            <label class="active" for="city">City:</label>
          </div>
          <div class="input-field col s12">
            <button type="submit" class="waves-effect waves-light btn col s5" [disabled]="f.invalid">Record</button>
          </div>
        </div>
      </form>
    </div>
    </ng-template>
  </div>
</div>
</ng-container>

