<ng-container *ngIf="productModel">
  <div class="col s9">
    <div class="card">
      <div class="card-content" *ngFor="let item of productModel">
        <ng-container *ngIf="item.deleteAt == null">
        <form [formGroup]="productFormUpdate">
          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="product">Product</label>
                <input id="product" type="text" [(ngModel)]="item.product" formControlName="product">
            </div>
            <div class="input-field col s6">
              <label class="active" for="price">Price</label>
                <input id="price" type="number" [(ngModel)]="item.price" formControlName="price">
            </div>
            <div class="input-field col s12">
              <label class="active" for="description">Description</label>
                <input id="description" type="text" [(ngModel)]="item.description" formControlName="description">
            </div>
            <div class="input-field col s6" formGroupName="supplier">
                <label class="active" for="supplier">Supplier</label>
                <select id="supplier" class="browser-default" formControlName="name">
                  <option value="" disabled selected>Choose</option>
                  <ng-container *ngFor="let supl of supplierModel">
                    <option value="{{supl.name}}">{{supl.name}}</option>
                  </ng-container>
                </select>
            </div>
            <div class="input-field col s6" formGroupName="category">
              <label class="active" for="category">Category</label>
              <select id="category" class="browser-default" formControlName="name">
                <option value="" disabled selected>Choose</option>
                <ng-container *ngFor="let cat of categoryModel">
                  <option value="{{cat.name}}">{{cat.name}}</option>
                </ng-container>
              </select>
            </div>
            <div class="input-field col s6">
              <p>
              <label>Stock Dispo<br/>
                <input formControlName="avaibility" type="radio" value="true">
                <span>Oui</span>
              </label>
              </p>
              <p>
              <label>
                <input formControlName="avaibility" type="radio" value="false">
                <span>Non</span>
              </label>
              </p>
            </div>
          </div>
          <div class="card-image" *ngFor="let img of productModel">
            <img style="width: 50%;height: 50%" src="{{img.picture}}" alt="{{img.picture}}">
          </div>
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" (change)="submitFile($event)">
            </div>
            <div class="file-path-wrapper">
              <label for="picture">Choisir une image</label>
              <input id="picture" class="file-path validate" type="text">
            </div>
          </div>
          <div class="input-field col s12">
            <button [disabled]="productFormUpdate.invalid" type="submit" class="waves-effect waves-light btn col s5" (click)="onSubmitForm(item.id)">Update</button>
          </div>
        </form>
        <button type="button" class="waves-effect waves-light btn" (click)="onDelete(item.id)">Delete</button>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
