<div class="container">
<div class="row">
  <div class="col s3">
    <form [formGroup]="choiceFilter" (ngSubmit)="onSubmitForm()">
    <h6>Filter</h6>
      <label>
        Category
        <select class="browser-default" formControlName="choiceCat">
          <option value="1">Option 1</option>
        </select>
      <label>
        Sub-Category
        <select class="browser-default" formControlName="choiceSubCat">
          <option value="1">Option 1</option>
        </select>
      </label>
      <button class="waves-light waves-effect btn" type="submit">Search</button>
    </label>
    </form>
  </div>
  <div class="col s9">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
