<h4>Groupe List</h4>
<form [formGroup]="editGroupeForm">
  <ng-container *ngIf="groupeService.isLoading$|async; else isLoaded">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
      </div>
    </div>
  </ng-container>
  <ng-template #isLoaded>
    <ul mCollapsible class="collapsible">
      <li *ngFor="let item of groupeModel.data">
        <ng-container *ngIf="item.delete_at == null">
          <div class="collapsible-header">{{item.groupe}} - Created at : {{item.create_at}} - Last Update - {{item.update_at}}</div>
          <div class="collapsible-body">
            <button (click)="removeGroupe(item.id_groupe)" class="waves-effect waves-effect btn">Delete</button>
            <input id="groupe" type="text" value="{{item.groupe}}" formControlName="groupe" upperCase>
            <label for="groupe">Groupe</label><br/>
            <div *ngIf="editGroupeForm.errors && editGroupeForm.errors.groupeAlreadyExist">This role already exists</div>
            <button class="btn waves-effect waves-light" type="submit" (click)="onSubmitForm(item.id_groupe)" *ngIf="editGroupeForm.valid">Update</button>
          </div>
        </ng-container>
      </li>
    </ul>
    <a routerLink="newGroupe" class="waves-effect waves-light btn">New</a>
  </ng-template>
</form>
<router-outlet></router-outlet>
