    <div class="col s9">
      <div class="card">
        <div class="card-content">
          <ul class="collection">
            <ng-container *ngIf="userModel">
              <li class="collection-item">First Name : {{userModel.firstName}}</li>
              <li class="collection-item">Last Name : {{userModel.lastName}}</li>
              <li class="collection-item">Street : {{userModel.street}} {{userModel.number}}</li>
              <li class="collection-item">Code Postal : {{userModel.postalCode}} {{userModel.city}}</li>
              <li class="collection-item">Phone : {{userModel.phone}}</li>
              <li class="collection-item">Email : {{userModel.email}}</li>
              <li class="collection-item">Create since: {{userModel.create_at|date:'dd-MM-yyyy'}}</li>
              <li class="collection-item">Last Update : {{userModel.update_at}}</li>
              <ng-container *ngIf="userModel.groupe.length">
                Groupe :
                <ul *ngFor="let gr of userModel.groupe">
                  <li class="collection-item">{{gr}}</li>
                </ul>
              </ng-container>
              <ng-container *ngIf="userModel.user_roles.length">
                Role:
                <ul *ngFor="let rl of userModel.user_roles">
                  <li class="collection-item">{{rl[0]}}</li>
                </ul>
              </ng-container>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>

