    <div class="col s9">
      <div class="card">
        <div class="card-content">
          <ul class="collection">
            <ng-container *ngIf="userModel">
              <li class="collection-item">First Name : {{userModel.data.firstName}}</li>
              <li class="collection-item">Last Name : {{userModel.data.lastName}}</li>
              <li class="collection-item">Street : {{userModel.data.street}} {{userModel.data.number}}</li>
              <li class="collection-item">Code Postal : {{userModel.data.postalCode}} {{userModel.data.city}}</li>
              <li class="collection-item">Phone : {{userModel.data.phone}}</li>
              <li class="collection-item">Email : {{userModel.data.email}}</li>
              <li class="collection-item">Create since: {{userModel.data.create_at|date:'dd-MM-yyyy'}}</li>
              <li class="collection-item">Last Update : {{userModel.data.update_at}}</li>
              <ng-container *ngIf="userModel.data.groupe.length">
                Groupe :
                <ul *ngFor="let gr of userModel.data.groupe">
                  <li class="collection-item">{{gr}}</li>
                </ul>
              </ng-container>
              <ng-container *ngIf="userModel.data.user_roles.length">
                Role:
                <ul *ngFor="let rl of userModel.data.user_roles">
                  <ng-container *ngIf="rl[3] == null">
                  <li class="collection-item">{{rl[1]}}</li>
                  </ng-container>
                </ul>
              </ng-container>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
