    <div class="col s9">
      <div class="card">
        <div class="card-content">
          <ul class="collection" *ngFor="let item of userModel">
              <li class="collection-item">First Name : {{item.firstName}}</li>
              <li class="collection-item">Last Name : {{item.lastName}}</li>
              <li class="collection-item">Street : {{item.street}} {{item.number}}</li>
              <li class="collection-item">Code Postal : {{item.postalCode}} {{item.city}}</li>
              <li class="collection-item">Phone : {{item.phone}}</li>
              <li class="collection-item">Email : {{item.email}}</li>
              <li class="collection-item">Create since: {{item.create_at|date:'dd-MM-yyyy'}}</li>
              <li class="collection-item">Last Update : {{item.update_at}}</li>
              <ng-container *ngIf="item.groupe.length">
                Groupe :
                <ul *ngFor="let gr of item.groupe">
                  <li class="collection-item">{{gr}}</li>
                </ul>
              </ng-container>
              <ng-container *ngIf="item.user_roles.length">
                Role:
                <ul *ngFor="let rl of item.user_roles">
                  <ng-container *ngIf="rl[3] == null">
                  <li class="collection-item">{{rl[1]}}</li>
                  </ng-container>
                </ul>
              </ng-container>
          </ul>
        </div>

      </div>
    </div>
